h1 {
    text-align: center;

}

#facebook {
    color: blue;
    background-color: blue;
}

#instagram {
    color: brown;
    background-color: brown;
}

#x {
    color: black;
    background-color: black;
}

#reddit {
    color: orange;
    background-color: orange;
}

#discord {
    background-color: black;
    color: black;
}





