#formulario {
    display: flex;
    flex-direction: column;
    width: 220px;
    margin: auto;
    padding: 12px;
    border: 2px solid gray;
    border-radius: 10px;

    

} 
h1 {
    margin: auto;
}



input {
    border-radius: 6px;
    border: 2px solid gray;
    padding: 5px;
    
}

button {
    width: 80px;
    margin: auto;
    background-color: blue;
    border-radius: 6px;
    border: 2px;
    color: white;
    padding: 2px;
    
}




div {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}


