<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>bmw</title>
    <link rel="stylesheet" href="../public/css/style.css" />
    <script
      src="https://kit.fontawesome.com/544876a7ca.js"
      crossorigin="anonymous"
    ></script>
    <title>Bmw</title>
  </head>
  <body>
    <header>
      <img id="logo-principal" src="../public/images/bmw-logo-373B3370C2-seeklogo.com.png" />
      <ul id="lista-header">
        <li><a href="#nueva-coleccion">Nueva Colección</a></li>
        <li><a href="#ofertas">Ofertas</a></li>
        <li><a href="#mas-vendidos">Más Vendidos</a></li>
        <li><a href="#contacto">Contacto</a></li>
      </ul>

      <form action="">
        <input type="text" placeholder="Buscar articulo..." />
        <button> <i class="fa-solid fa-magnifying-glass"></i></button>
      </form>

    </header>
    <main>
      <h1 id="nueva-coleccion">Nueva Colección</h1>
      <section>

        <article>
          <img id="carro" src="../public/images/descarga.jfif" alt="" />
          <h2>BMW M4</h2>
          <p>19.500$</p>
        </article>

        <article>
          <img id="carro" src="../public/images/Bmw M3.jfif" alt="" />
          <h2>BMW M3</h2>
          <p>18.700$</p>
        </article>

        <article>
          <img id="carro" src="../public/images/Bmw iX.jfif" alt="" />
          <h2>BMW iX</h2>
          <p>87.350$</p>
        </article>
        </section>

        <h1 id="ofertas">Ofertas</h1>

        <section>

          <article>
            <img id="carro" src="../public/images/Bmw i7 M70 xDrive.jpg" alt="">
            <h2>BMW i7 M70 Xdrive</h2>
            <p>187.150$</p>
          </article>

          <article>
            <img id="carro" src="../public/images/bmw i5 berlina.jpg" alt="">
            <h2>BMW i5 Berlina</h2>
            <p>76.950$</p>
          </article>

          <article>
            <img id="carro" src="../public/images/BMW-i4.jpeg" alt="">
            <h2>BMW i4</h2>
            <p>58.600$</p>
          </article>
        </section>

        <h1 id="mas-vendidos">Más Vendidos</h1>
        <section>

          <article>
            
            <img id="carro" src="../public/images/Bmw i4 M50.jpg" alt="">
            <h2>BMW i4 M50</h2>
            <p>80.500$</p>
          </article>

          <article>
            <img id="carro" src="../public/images/BMW_M8 gran coupé.jpg" alt="">
            <h2>BMW M8 Gran coupé</h2>
            <p>215.400$</p>
          </article>

          <article>
            <img id="carro" src="../public/images/bmw m4 gran coupé.jpg" alt="">
            <h2>BMW M4 Coupé</h2>
            <p>126.500$</p>
          </article>

        </section>
      

     

        </article>
    </main>
    <footer>
      <div>
        
      <img src="../public/images/bmw-logo-373B3370C2-seeklogo.com.png" alt="" />
      <ul id="redes-sociales">
        <li><a href="facebook.com">facebook</a></li>
        <li><a href="instagram.com">Instagram</a></li>
        <li><a href="discord.com">Discord</a></li>
      </ul>
      </div>
      <p>BMW 2024 todos los derechos reservados</p>

    </footer>
  </body>
</html>
